<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>movie List</title>
 </head>
 <body>
   <!-- movie Input and Add Button -->
   <input type="text" id="movieInput" placeholder="Enter item">
   <button id="addButton">Add</button>
 
   <!-- movie List Display -->
   <ol id="movieList"></ol>
 
   <!-- Clear Button -->
   <button id="clearButton" disabled>Clear</button>
 
   <!-- Link to the JavaScript file -->
   <script src="groceries.js"></script>
 </body>
 </html>